<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Some Website</title>
</head>
<h1>{{welcomeMessage}}</h1>
<body>
  {{> header}}
  <p>Some text here</p>
  {{> footer}}
</body>

</html>
